<div class="container-registro col-sm-8 text-center">
  <div class="card-registro">

    <div class="back-button">
      <%= link_to :back, class: "back" do %>
      <i class="fas fa-arrow-left"></i>
      <% end %>
    </div>

    <h3>Editar Cadastro</h3>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, data: { controller: "mask datepicker"}} ) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                      as: :hidden,
                      required: false  %>
          <%= f.input :first_name, label: "Nome",
                      required: false %>
          <%= f.input :last_name, label: "Sobrenome",
                      required: false %>
          <%= f.input :birthday, label: "Data de nascimento",
                      as: :string,
                      required: false, input_html: {class: "datepicker"} %>
          <%= f.input :genre, collection: ['Masculino', 'Feminino'],
                      default: current_user.genre,
                      as: :hidden %>
          <%= f.input :cpf,
                      required: false,
                      as: :hidden %>
          <%= f.input :current_password,
                label: "Senha",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    </div>

      <div class="form-actions mt-4">
        <%= f.button :submit, "Atualizar" %>
      </div>
    <% end %>

    <p class="mt-3"> <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete %></p>

  </div>
</div>
