<div class="container-registro col-sm-8 text-center">
  <div class="card-registro">

    <div class="back-button">
      <%= link_to :back, class: "back" do %>
      <i class="fas fa-arrow-left"></i>
      <% end %>
    </div>

    <h3>Editar Cadastro</h3>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    required: false, label: "Senha",
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false, label: "Confirme a senha",
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    required: false, label: "Nova senha",
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions mt-4">
        <%= f.button :submit, "Atualizar" %>
      </div>
    <% end %>

    <p class="mt-3"> <%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  </div>
</div>
