<div class="container-login col-sm-8 text-center">
  <div class="card-registro">
    <h2>Registre-se</h2>
    <div class="form-login-registro">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { controller: "mask"}} ) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" }, placeholder: "ninja@hotmail.com"%>
          <%= f.input :first_name, label: "Nome", placeholder: "Ninja",
                      required: false %>
          <%= f.input :last_name, label: "Sobrenome", placeholder: "Productions",
                      required: false %>
          <%= f.input :birthday, label: "Data de nascimento",
                      as: :string,
                      required: false, input_html: {class: "datepicker"} %>
          <%= f.input :cpf,
                      required: false, input_html: { data: { action: "input->mask#inputmask", mask:"cpf" }, maxlength: 14 }, label: "CPF", placeholder: "939.433.502-15"%>
          <%= f.input :password, label: "Senha", placeholder: "•••••••",
                      required: false,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation, label: "Confirme a senha", placeholder: "•••••••",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Registre-se" %>
        </div>
      <% end %>
      <div class="my-5">
      <%= render "devise/shared/links" %>
      <div>
    </div>
  </div>
</div>
