<div class="header">
  <!--Content before waves-->
  <div class="inner-header flex">
    <h1>Smart Wallet</h1>
    <% if user_signed_in? %>
      <h2>Bem Vindo</h2>
      <h3><%= current_user.first_name %> <%= current_user.last_name %> :D</h3>
      <a href="#faq"><i class="fas fa-angle-down seta"></i></a>
    <% else %>
      <p class="home-text">Documentos organizados e em um só lugar!</p>
      <a href="#faq"><i class="fas fa-angle-down seta"></i></a>
    <% end %>
  </div>
  <!--Waves Container-->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  <!--Waves end-->
</div>
<!--Header ends-->
<!--Content starts-->
<% if !user_signed_in? %>
  <div class="home-buttons"><%= link_to "Entrar", new_user_session_path, class:"btn-entrar" %>
    <%= link_to "Cadastrar", new_user_registration_path, class:"btn-entrar" %> </div>
<% end %>
<h5 class="text-center mt-5" id="faq"><strong>Perguntas Frequentes:</strong></h5>
<div class="accordion accordion-flush accordion-margin" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Quem fez esse projeto?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="team-pictures accordion-body">
        <a href="https://github.com/igordmartins" target="_blank"><%= image_tag "igor.png", class: "rounded-circle" %></a>
        <a href="https://github.com/LidiaSetubal" target="_blank"><%= image_tag "lidia.png", class: "rounded-circle"%></a>
        <a href="https://github.com/Mateus-Bittencourt" target="_blank"><%= image_tag "mateus.png", class: "rounded-circle" %></a>
        <a href="https://github.com/thiagohoaragao/" target="_blank"><%= image_tag "thiago.png", class: "rounded-circle" %></a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Quantas linhas de codigo?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Total de 2855 linhas de código!</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Quais linguagens foram utilizadas?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <li class="languages-list">
          <i class="devicon-ruby-plain-wordmark colored"></i>  62.2%
          <i class="devicon-html5-plain-wordmark colored"></i> 22.1%
          <i class="devicon-sass-original colored"></i>10.8%
          <i class="devicon-javascript-plain colored"></i> 4.9%
        </li>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Quantas horas demorou?
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">2 semanas!</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Onde foi desenvoldio a Smart Wallet?
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Durante o bootcamp da Le Wagon São Paulo (Batch#898) Full-Time!</div>
    </div>
  </div>
</div>
