<div class="container" data-controller="slider" >
  <div class="document-content">
    <h1>Meus documentos</h1>
    <div class="document-grid">
      <div class="grid-item">
        <% @documents.each do |document| %>
          <button type="button" class="btn-document" data-bs-toggle="modal" data-bs-target="#document-<%= document.id %>">
            <h4><%= document.category %></h4>
            <i class="fas fa-address-card"></i>
          </button>
          <!-- Modal -->
          <div class="modal fade" id="document-<%= document.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                </div>
                <div class="modal-body">
                  <div class="width-316">
                    <div class="my-slider" >
                      <div>
                        <%= image_tag 'rg-front.jpg' %>
                      </div>
                      <div>
                        <%= image_tag 'rg-back.jpg' %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
