<%= simple_form_for @document do |f| %>
  <div class="form-inputs mt-4 col-md-6 offset-md-3">
    <%= f.input :category, collection: ['CPF', 'Identidade', 'Habilitação', 'Documento do Veículo',
                                         'Carteira de Vacinação', 'Passaporte', 'Outros'],
                                         label: "Categoria do Documento",
                                         selected: 'CPF' %>
    <%= f.input :renewal, as: :boolean, label: "Documento tem validade?" %>
    <div class="d-none"><%= f.input :renew_date, as: :date, required: false, label: "Data de vencimento" %></div>
    <%= f.input :front, label: "Anexar frente do documento", as: :file %>
    <%= f.input :back, label: "Anexar verso do documento", as: :file %>
    <div class="form-actions">
      <%= f.button :submit, 'Cadastre seu documento', class: 'mt-3 btn-registrar' %>
    </div>
  </div>
<% end %>
