<!DOCTYPE html>
<html>
  <head>
    <title>SmartWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Igor Martins, Lidia Setubal, Mateus Bittencourt and Thiago Aragao">
    <meta name="description" content="Documentos organizados e em um só lugar!">
    <meta property="og:image" content='<% image_tag 'banner.jpg' %>' />
    <meta name="twitter:image:src" content='<%= image_tag 'banner.jpg' %>' />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="icon" type="image/png" href="https://www.linknacional.com.br/wp-content/uploads/2022/04/e-wallets.png">
  </head>
  <body>
    <div class="container-wrapper">
      <%= yield %>
      <% if user_signed_in? %>
        <%= render 'shared/navbar' %>
      <% end %>
    </div>
  </body>
</html>
